body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .certificate {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  p {
    margin: 10px 0;
    color: #555;
  }
  
  .certificate .q-logo {
       margin-right: 80%;
    /* top: 10px;
    left: 10px; */
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  .download-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }

  .download-button:hover {
    background-color: #45a049;
  }


  /* Basic styling for the button */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
}

/* Hover effect */
button:hover {
  background-color: #45a049; /* Darker green on hover */
}

  